
        <h1>
            Codeial / <%= title %>
        </h1>
        <section id="feed-posts">
            <h4>Posts</h4>
            <form action="/posts/create" id="new-post-form" method="Post">
                <textarea name="content" cols="30" rows="3" required></textarea>
                <input type="submit" value="Post">
            </form>
            <div id="post-list-container">
                <ul>
                   <%- include('_post') -%>
                </ul>
            </div>
        </section>
        <section id="user-friends">
            <h4>Friends</h4>
            <% for(user of all_users) {%>
                <a href="/users/profile/<%=user.id%>"><%= user.name%></a>
            <%}%>

        </section>
